<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">{{skill.title}}</h2>

    <div class="subheading mb-3">{{skill.subTitle}}</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fab fa-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-css3-alt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-js-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-npm"></i>
      </li>
    </ul>

    
    <ul class="fa-ul mb-0">
      <li *ngFor="let item of skill.languages">
        <i class="fa-li fa fa-check"></i>
        {{item}}</li>
    </ul>
  </div>
</section>

<hr class="m-0">