<div>
  <a class="google_translate"  title="Portuguese" (click)="setLanguage('pt-br')" >
    <img alt="Portuguese" border="0" align="absbottom" title="Portuguese" height="32" src="http://lh4.ggpht.com/_pt7i0nbIOCY/SWwkG0osjzI/AAAAAAAAA2g/_kM2A16R_Ho/Portuguese_thumb%5B1%5D.png?imgmax=800" style="cursor: pointer;margin-right:13px" width="24"/>
  </a>
  <a class="google_translate"  title="English" (click)="setLanguage('en')" >
    <img alt="English" border="0" align="absbottom" title="English" height="32" src="http://lh6.ggpht.com/_pt7i0nbIOCY/SWwjycGEnLI/AAAAAAAAA1o/7p6S3-tipsA/English_thumb%5B3%5D.png?imgmax=800" style="cursor: pointer;margin-right:13px" width="24"/>
  </a>
</div>

<div id="page-top">

  <app-menu [menus]="content.menus"></app-menu>

  <div class="container-fluid p-0">
    
    <app-about [about]="content.about"></app-about>    

    <app-experience [experiences]="content.experience.experiences" [title]="content.experience.title"></app-experience>    

    <app-education [educations]="content.education.educations" [title]="content.education.title"></app-education>    

    <app-skills [skill]="content.skill"></app-skills>    

    <app-interests [interest]="content.interest"></app-interests>        

    <app-awards [award]="content.award"></app-awards>

  </div>  

</div>

